@tailwind base;
@tailwind components;
@tailwind utilities;

.active-nav {
  @apply font-bold pr-3 text-dark-800;
}

.active-nav:hover {
  @apply text-light-200 border-secondary-500;
}

.inactive-nav {
  @apply pr-3 border-transparent;
}

.inactive-nav:hover {
  @apply text-secondary-100;
}

.sort {
  @apply block appearance-none w-auto text-black bg-primary-300 cursor-pointer px-2 py-1 rounded leading-tight;
}

.btn {
  @apply py-2 px-4 uppercase rounded-full cursor-pointer tracking-wider;
}

.close_modal {
  @apply block absolute top-0 right-0 pt-1 pr-3 font-bold text-xl text-primary-500 cursor-pointer;
}

.badge {
  @apply text-lg uppercase font-bold rounded-full py-1 px-2 absolute top-0 ml-2 mt-2 text-primary-200 bg-dark-800;
}

.form-input {
  @apply block appearance-none w-full bg-light-200 border text-dark-600 py-3 px-4 pr-8 leading-tight rounded;
}

.card {
  @apply bg-white overflow-hidden rounded-t relative mt-6 mx-6;
}

.weather-card {
  @apply grid grid-cols-3 overflow-hidden bg-primary-400  text-center rounded-b mb-6 mx-6;
}

.delete {
  @apply text-white cursor-pointer font-bold absolute top-0 right-0 mr-3 mt-1;
}

.add-entry-button {
  @apply py-3 px-6 text-xl bg-secondary-500 text-white font-bold rounded;
}

.add-entry-button:hover {
  @apply transform scale-110 bg-primary-600;
}

.entry {
  @apply mb-6 p-1 mx-0 bg-dark-500 rounded relative;
}

.jump {
  @apply text-xl bg-transparent text-light-300;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInAndOut infinite 5s;
  -webkit-animation: fadeInAndOut infinite 5s;
  -moz-animation: fadeInAndOut infinite 5s;
  -o-animation: fadeInAndOut infinite 5s;
  -ms-animation: fadeInAndOut infinite 5s;
}

.jump:hover {
  @apply text-secondary-400;
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
}

.jump-up {
  @apply text-xl text-dark-900 mt-6;
  position: relative;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jump-up:hover {
  @apply text-dark-700 font-bold;
}

.social-icons {
  @apply mx-4 my-3 text-4xl text-dark-700;
}

.social-icons:hover {
  @apply text-light-200;
  transform: scale(1.1);
}

@screen sm {
  .entry {
    @apply px-1;
  }
}
@screen md {
  .entry {
    @apply mb-8 p-4 mx-2;
  }
}

@screen lg {
  .active-nav {
    @apply border-r-8 border-primary-600;
  }

  .inactive-nav {
    @apply border border-r-8;
  }

  .nav-item {
    display: block;
  }

  .jump {
    @apply text-4xl;
  }

  .add-entry-button {
    @apply py-5 px-8;
  }

  .entry {
    @apply mx-4;
  }
}

@screen xl {
  .jump {
    @apply text-5xl;
  }
  .entry {
    @apply mb-12 mx-16;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 20%);
  width: 95%;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/faroe_island_waterfall.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadeInAndOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@-moz-keyframes fadeInAndOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@-webkit-keyframes fadeInAndOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@-o-keyframes fadeInAndOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@-ms-keyframes fadeInAndOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@media only screen and (max-width: 640px) {
  .modal-content {
    transform: translate(-50%, 5%);
    width: 95%;
    max-height: 100vh;
  }
}

@media only screen and (max-width: 400px) {
  .modal-content {
    transform: translate(-50%, 0%);
    width: 100%;
    height: auto;
  }
  .jump {
    top: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-item {
    display: none; 
  }

  .hero {
    height: 90vh;
  }
}
